# LaTeX packages required for resume.tex
texlive-latex-base
texlive-latex-extra
texlive-fonts-recommended
texlive-fonts-extra
texlive-xetex
texlive-pictures
texlive-plain-generic
texlive-science
texlive-bibtex-extra
texlive-pstricks
texlive-publishers
texlive-lang-english
texlive-lang-chinese
texlive-lang-cyrillic
texlive-lang-czechslovak
texlive-lang-french
texlive-lang-german
texlive-lang-greek
texlive-lang-italian
texlive-lang-japanese
texlive-lang-korean
texlive-lang-polish
texlive-lang-portuguese
texlive-lang-spanish
texlive-lang-other 